<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
  <% user.forEach(u => { %>
    <h2><%= u.name%></h2>
    <h2><%= u.age%></h2>
    <h2><%= u.email%></h2>
    <a href="/user/<%=u.id%>">
      <button>More</button>
    </a>
  <%})%>
  <a href="/user/new">
    <button>Add user</button>
  </a>
</body>
</html>